<ng-container *ngIf="film$ | async as film">
  <div class="card">
    <h1 class="card__title">{{ film.title }}</h1>
    <p class="card__info">Description: {{ film.overview }}</p>
    <p class="card__info">Rating: {{ film.vote_average }}</p>
    <p class="card__info">Popularity: {{ film.popularity }}</p>
    <button
      class="btn"
      (click)="addToFavourites(film)"
      [ngClass]="{
        btn_activated: isFavourite,
        btn_notactivated: !isFavourite
      }"
    >
      Add to Favourites
    </button>
  </div>
  <div class="card" *ngFor="let film of reccomendated$ | async">
    <app-film-card [film]="film"></app-film-card>
  </div>
</ng-container>
