<div class="container">
  <div class="container__inner container__inner_transparent">
    <h1>If you don't have an account yet, please register:</h1>
    <form [formGroup]="form" class="auth auth__inner">
      <div class="auth__control">
        <label>Email:</label>
        <input type="text" formControlName="email" class="auth__input" />
      </div>
      @if(form.get('email')?.invalid && form.get('email')?.touched){
      @if(form.get('email')?.errors?.['required']){
      <small class="auth__error">The graph must be filled!</small>
      } @if(form.get('email')?.errors?.['email']){
      <small class="auth__error">This email is not correct!</small>
      } @if(form.get('email')?.errors?.['takenEmail']){
      <small class="auth__error">This email is already taken!</small>
      } }

      <div class="auth__control">
        <label>Password:</label>
        <input type="password" formControlName="password" class="auth__input" />
      </div>

      @if(form.get('password')?.invalid && form.get('password')?.touched){
      @if(form.get('password')?.errors?.['required']){<small class="auth__error"
        >The graph must be filled!</small
      >} @if(form.get('password')?.errors?.['minlength']){
      <small class="auth__error"
        >the password must include at least 5 symbols!</small
      >} }

      <button
        [disabled]="form.invalid"
        (click)="submit()"
        class="btn btn__inner"
      >
        Submit
      </button>
    </form>
  </div>
</div>
