<div class="container">
  <div class="container__inner container__inner_column">
    <h1>If you don't have an account yet, please register:</h1>
    <form [formGroup]="form" class="auth auth__inner">
      <div class="auth__control">
        <label>Email:</label>
        <input type="text" formControlName="email" class="auth__input" />
      </div>
      <ng-container
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        <small
          class="auth__error"
          *ngIf="form.get('email')?.errors?.['required']"
          >The graph must be filled!</small
        >
        <small class="auth__error" *ngIf="form.get('email')?.errors?.['email']"
          >This email is not correct!</small
        >
        <small
          class="auth__error"
          *ngIf="form.get('email')?.errors?.['takenEmail']"
          >This email is already taken!</small
        >
      </ng-container>
      <div class="auth__control">
        <label>Password:</label>
        <input type="password" formControlName="password" class="auth__input" />
      </div>
      <ng-container
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        <small
          class="auth__error"
          *ngIf="form.get('password')?.errors?.['required']"
          >The graph must be filled!</small
        >
        <small
          class="auth__error"
          *ngIf="form.get('password')?.errors?.['minlength']"
          >the password must include at least 5 symbols!</small
        >
      </ng-container>
      <button
        [disabled]="form.invalid"
        (click)="submit()"
        class="btn btn__inner"
      >
        Submit
      </button>
    </form>
  </div>
</div>
