<div class="container">
  <div class="container__inner .container__inner_transparent">
    <h1>Login:</h1>
    <form [formGroup]="form" class="auth auth__inner">
      <div class="auth__control">
        <label>Email:</label>
        <input type="text" formControlName="email" class="auth__input" />
      </div>
      @if(form.get('email')?.invalid && form.get('email')?.touched) {
      <small class="auth__error">The graph must be filled!</small>
      }

      <div class="auth__control">
        <label>Password:</label>
        <input type="password" formControlName="password" class="auth__input" />
      </div>
      @if(form.get('password')?.invalid && form.get('password')?.touched) {
      <small class="auth__error">The graph must be filled!</small>
      }

      <button
        [disabled]="form.invalid"
        (click)="logIn()"
        class="btn btn__inner"
      >
        Submit
      </button>
      <button (click)="logOut()" class="btn btn__inner">Logout</button>
    </form>
  </div>
</div>
