<nav class="navbar">
  <ul>
    <li
      class="navbar__link"
      routerLinkActive="navbar__link_active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="['/home']">Go to home page</a>
    </li>
    <li class="navbar__link" routerLinkActive="navbar__link_active">
      <a [routerLink]="['/favourites']">Go to favourites</a>
    </li>
    <img class="navbar__icon" src="../assets/images/icons/star.svg" />
    <li class="navbar__link" routerLinkActive="navbar__link_active">
      <a [routerLink]="['/auth']">Go to Auth</a>
    </li>
    <li class="navbar__link" routerLinkActive="navbar__link_active">
      <a [routerLink]="['/login']">Go to login and logout</a>
    </li>
  </ul>
</nav>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="footer__content">
    <p class="footer__text">
      This project was made as part of a demonstration of skills in working with
      the Angular framework. GitHub account of the project creator -
      <a href="https://github.com/Victoria23022016" class="footer__link"
        >https://github.com/Victoria23022016</a
      >
    </p>
  </div>
</footer>
