<div class="card card__outer" [routerLink]="['/detailed', film.id]">
  <div class="card__inner">
    <img ngSrc="{{ film.poster_path }}" width="215" height="331" />
    <div class="card__head">
      <p class="card__title">{{ film.title }}</p>
    </div>
    <div class="card__inner_popup">
      <p class="card__title_popup">{{ film.title }}</p>
      <p class="card__text_popup">
        {{ film.release_date | date }}
      </p>
      <div class="card__text_popup">
        <span *ngFor="let genre of film.genresToDisplay">{{ genre }} </span>
      </div>
      <div class="card__text_popup card__info_popup">{{ film.overview }}</div>
    </div>
  </div>
</div>
