<div class="card card__outer" [routerLink]="['/detailed', film.id]">
  <div class="card__inner">
    <div class="card__image">
      <img
        ngSrc="{{ film.poster_path }}"
        alt="{{ film.title }}"
        fill="true"
        priority="true"
      />
    </div>

    <div class="card__head">
      <p class="card__title">{{ film.title }}</p>
    </div>

    <div class="card__inner_popup">
      <p class="card__title_popup">{{ film.title }}</p>
      <p class="card__text_popup">
        {{ film.release_date | date : "y" }}
      </p>
      <div class="card__text_popup">
        @for(genre of film.genresToDisplay; track $index){
        <span>{{ genre }} </span>
        }
      </div>

      <p class="card__text_popup card__info_popup">{{ film.overview }}</p>
    </div>
  </div>
</div>
