<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Find the movie you want:</h1>
    <div class="form-control">
      <input
        type="text"
        placeholder="Наименование фильма"
        formControlName="title"
      />
      <div
        class="validation"
        *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
      >
        <small>Fill the title!</small>
      </div>
    </div>
    <div class="form-control">
      <label>Include adult:</label>
      <select formControlName="includeAdult">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-control">
      <label>Year:</label>
      <input
        type="text"
        placeholder="Год выпуска фильма"
        formControlName="year"
      />
    </div>
    <button class="btn" type="submit" [disabled]="form.invalid">
      Отправить
    </button>
  </form>
  <div class="card" *ngFor="let film of foundFilms">
    {{ film.title }}
    <!--Сделаю с использованием movie-card, после мерджа с веткой Favourites-->
  </div>
</div>
