:root {
  --white: #fffafa;
  --black: #000000;
  --light-grey: #d3d3d3;
  --medium-grey: #c0c0c0;
  --dark-grey: #696969;
  --salmon: #fa8072;
  --red: #ff0000;

  --main-background: var(--white);
  --main-font: var(--black);
  --btn-background: var(--black);
  --btn-color: var(--white);
  --btn-activated: var(--dark-grey);
  --input-border: var(--dark-grey);
  --card-border: var(--medium-grey);
  --shadow: var(--light-grey);
  --hover: var(--dark-grey);
  --navbar: var(--salmon);
  --error: var(--red);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--main-background);
  color: var(--main-font);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__title {
  font-size: 2em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--main-font);
}

a:hover {
  color: var(--hover);
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: var(--btn-background);
  color: var(--btn-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn_activated {
  pointer-events: none;
  background: var(--btn-activated);
}
.btn_notactivated {
  pointer-events: all;
}

.btn:hover {
  opacity: 0.8;
}

.error__title {
  color: var(--error);
}

.form {
  padding: 20px 0px;
}

.form__control {
  display: block;
  margin-top: 0.3rem;
}

.form__label {
  font-size: 2em;
  font-weight: bold;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--input-border);
  margin: 1.2rem 0;
}

.navbar__icon {
  height: 20px;
  width: 19px;
  color: wheat;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  justify-items: stretch;
  align-items: baseline;
  gap: 27.8px;
}

.footer {
  background-color: #2e353d; /*переписать в переменную */
  color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  padding: 50px 0 65px 0;
}

.footer__content {
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer__link {
  color: #919fa4; /*переписать в переменную */
}
