@import "./assets/styles/container.css";
@import "./assets/styles/page.css";
@import "./assets/styles/btn.css";
@import "./assets/styles/detailed.css";
@import "./assets/styles/card.css";
@import "./assets/styles/grid.css";
@import "./assets/styles/search.css";
@import "./assets/styles/auth.css";

:root {
  --white: #fff;
  --white-2: #eceff1;
  --white-3: #cfd7db;
  --black: #000000;
  --light-grey: #919fa4;
  --light-grey-2: #99abb6;
  --light-grey-3: #bbc2c4;
  --medium-grey: #4d4d55;
  --medium-grey-2: #444b54;
  --dark-grey: #2e353d;
  --red: #ff0000;
  font-size: 10px;
}
