.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.container__inner {
  margin: 5rem 0 5rem 0;
  display: flex;
}

.container__inner_minor {
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: center;
}

.container__inner_transparent {
  flex-direction: column;
}
@media (max-width: 1200px) {
  .container {
    margin: 0 1.5rem;
  }
}
