.search {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: lighter;
}

.search__outer {
  margin-top: 50px;
}

.search__inner {
  width: 120rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.search__preview {
  background: var(--light-grey-3);
  border: none;
  border-radius: 0.4rem;
  padding: 0.2rem;
  height: 2.8rem;
  color: var(--white);
  position: relative;
  cursor: pointer;
}

.search__input {
  position: absolute;
  left: 2.5rem;
  background: var(--light-grey-3);
  border: none;
  width: 45rem;
  z-index: 2;
  outline: none;
}

.search__icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--medium-grey);
}

.search__icon_search {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.search__results {
  width: 30rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
  z-index: 20rem;
  display: none;
}
