<ng-container *ngIf="film$ | async as film">
  <div class="container">
    <div class="detailed container__inner">
      <div class="detailed__image-wrapper">
        <img
          class="detailed__image"
          ngSrc="{{ film.poster_path }}"
          alt="{{ film.title }}"
          fill="true"
          priority="true"
        />
      </div>

      <div class="detailed detailed__info">
        <h1 class="detailed_bold">{{ film.title }}</h1>
        <p>
          <span class="detailed_bold">Release date:</span>
          {{ film.release_date | date : "y" }}
        </p>
        <p>
          <span class="detailed_bold">Description:</span>
          {{ film.overview }}
        </p>
        <p>
          <span class="detailed_bold">Original language:</span>
          {{ film.original_language | uppercase }}
        </p>
        <p>
          <span class="detailed_bold">Rating:</span>
          {{ film.vote_average }}
        </p>
        <p>
          <span class="detailed_bold">Popularity:</span>
          {{ film.popularity }}
        </p>

        <button
          class="btn btn__inner"
          (click)="addToFavourites(film)"
          *ngIf="!isFavourite; else DeleteFavourite"
        >
          <svg
            class="btn__icon"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 32 32"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"
            ></path>
          </svg>
        </button>
        <ng-template #DeleteFavourite>
          <button
            class="btn btn__inner"
            (click)="removeFromFavourites(film.id)"
          >
            <svg
              class="btn__icon"
              xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd"
              clip-rule="evenodd"
              viewBox="0 0 32 32"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6 32h20l2-22h-24zM20 4v-4h-8v4h-10v6l2-2h24l2 2v-6h-10zM18 4h-4v-2h4v2z"
              ></path>
            </svg>
          </button>
        </ng-template>
      </div>
    </div>
    <div *ngFor="let film of reccomendated$ | async">
      <app-film-card-small [film]="film"></app-film-card-small>
    </div>
  </div>
</ng-container>
